@import url("styles.css");

.form-wrap {
    margin: 22% 0%;

}

.ap-heading {
    color: var(--cjfw-purple);
    position: relative;
    margin: 22% 20%;
    /* margin-left: 10%; */
    /* text-align: center;*/
}

.ap-heading p {
    margin-bottom: 2.25ch;
    text-align: left;
}

.ap-form {
    position: relative;
    margin: 22% 0 22% 15%;
}

.ap-textbox {
    min-width: 50ch;
}

.ap-form-input {
    color: var(--cjfw-purple);
    margin-bottom: 3ch;
}
.ap-form-input input {
    border: 1px var(--cjfw-purple) solid;
}
.ap-form-input p {
    margin-right: 20%;
}

.ap-form-input h1 {
    padding-top: 1.3ch;
    margin-bottom: 2.25ch;
}

.ap-span {
    color: var(--cjfw-purple);
    font-weight: bold;
    margin-bottom: .5ch;
}

.ap-check {
    margin-bottom: 1.5ch;
    cursor: pointer;
    color:var(--cjfw-purple);
}

.ap-check:checked{
    background-color: var(--cjfw-purple);
}

textarea {
    border-color: var(--cjfw-purple);
    resize: none;
    margin-bottom: 2ch;
}

.ap-button,
.ap-button-submit,
.ap-button-reset {
    min-width: 20ch;
    height: 4ch;
    background-color: var(--clear);
    color: var(--cjfw-purple);
    border-color: var(--cjfw-purple);
    transition: ease-in-out .2s;
}

.ap-button-submit:hover {
    color: var(--blanc);
    background-color: var(--cjfw-green);
    cursor: pointer;
    border-color: var(--cjfw-green);
    transition-duration: .2s;
}

.ap-button-reset:hover {
    color: var(--blanc);
    background-color: var(--cjfw-red);
    cursor: pointer;
    border-color: var(--cjfw-red);
    transition-duration: .2s;
}