:root {
    --cjfw-purple: #732974;
    --cjfw-yellow: #EDBD0A;
    --cjfw-green: #058C42;
    --cjfw-red: #FF4F79;
    --noir: #000000;
    --blanc: #FFFFFF;
    --clear: transparent;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--blanc);
}

body {
    font-family: 'Alegreya SC';
    /* font-family: 'Montserrat', sans-serif; */
    background-color: var(--blanc);
    height: fit-content;

}

li {
    list-style-type: none !important;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

/*---------------------------MINI HEADER----------------------------------*/
.mini-header {
    top: 0;
    position: fixed;
    width: 100%;
    height: 15.5ch;
    object-fit: contain;
    border-bottom-color: var(--cjfw-yellow) solid;
    background-color: var(--blanc);
    z-index: 100;

}


/* ----------------------------------------------------------------------*/

.header {
    /* position: absolute; */
    height: auto;
    top: 0;
    overflow: hidden;
    border-bottom: 2px var(--cjfw-yellow) solid;
    position: fixed;
    background-color: var(--blanc);
    width: 100%;
    z-index: 100;
}

#header-logos {
    display: flex;
    /* border: 2px red double; */
    flex-direction: row;
}

#header-left-logos {
    padding-left: 5ch;
    /* border: 4px blue solid; */
}

#header-leftmost-logo {
    position: relative;
    margin-top: 1ch;
}

#header-leftleast-logo {
    margin-left: 3ch;
    margin-top: 3ch;
    /* border: 2px purple solid; */
}


#header-center-logo {
    padding-top: 3ch;
    margin: 0 auto;
    /* margin-left: auto;
    margin-right: auto; */
    /* border: 2px green solid; */
}

#header-right-buttons li a {
    /* font-family: 'Montserrat', sans-serif; */
    float: right;
    font-size: 2ch;
    margin: 2ch 0 0 auto;
    min-width: 150px;
    line-height: 40px;
    list-style: none;
    text-align: center;
    transition: all .2s ease-in-out;
    /* border: 1px var(--clear) solid; */
}

.gcse-search button {
    /* min-width: 47ch; */
    border-color: var(--cjfw-purple);
    background-color: var(--cjfw-purple);
}

/* #header-right-buttons a {
    text-decoration: none;
} */
#header-right-buttons a:hover {
    /* border: 1px var(--cjfw-purple) solid; */
    background-image: linear-gradient(to right, var(--cjfw-purple), var(--cjfw-purple));
    color: white;
    transition: all .2s ease-in-out;
}

nav li {
    display: block;
    float: left;
    margin-right: 1ch;
    margin-top: 1.3ch;
    transition: ease-in-out .8s;
    /* transition: all ease-in-out .2s; */
}

#nav-buttons li a {
    float: left;
    font-size: 2ch;
    padding: 0ch;
    min-width: 150px;
    line-height: 40px;
    list-style: none;
    text-align: center;
    border: 1px var(--clear) solid;
    transition: all .2s ease-in-out;
}

#contact-button {
    min-width: 1ch;
    margin-left: 5.5ch;
}

#nav-buttons a:hover {
    background-image: linear-gradient(to right, var(--cjfw-purple), var(--cjfw-purple));
    color: white;
    transition: all .2s ease-in-out;
    transition-duration: .2s;
}

#nav-buttons input {
    min-width: 30ch;
    text-align: left;
    text-indent: 2ch;
    float: right;
    font-size: 1.7ch;
    margin: .9ch 1ch;
    height: 3ch;
    line-height: 1ch;
    margin-left: 1ch;
    border: 1px var(--cjfw-purple) solid;
    background: 0% 0% no-repeat;
    background-color: var(--clear);
    place-content: right;
    color: var(--cjfw-purple);
}

#helping-you {
    color: var(--cjfw-purple);
    width: 100%;
}

#helping-you h1 {
    text-align: center;
}

#helping-you p {
    margin: .2in .5in;
    line-height: 3ch;
    text-align: left;
    font-size: 2ch;
}

.licensure-wrapper {
    position: relative;
    width: 100%;
}

#get-started-btn-bottom {
    display: flex;
    position: absolute;
    text-align: center;
    z-index: 99;
    bottom: 50%;
    left: 45%;
    max-width: 25ch;
}

.footer {
    position: absolute;
    bottom: 0;
    border-top: 2px var(--cjfw-yellow) solid;
    width: 100%;
    height: 2.5rem;
    /* fix */
    z-index: 100;
    background-color: var(--blanc);
}

.footer-alignment {
    text-align: center;
    margin-top: 2ch;
    color: var(--cjfw-purple);
    font-weight: bolder;
}

.footer-alignment p {
    margin: .2in .15in;
}

#social-footer {
    text-align: center;
}

#social-footer a:visited {
    color: var(--noir);
}

#social-footer i {
    margin: 0 1ch;
}

#social-footer p {
    margin: 2ch 5ch 2ch 5ch;
    text-align: right;
}

#copyright-footer {
    text-align: center;
    color: var(--cjfw-purple);
}

#copyright-footer p {
    margin: .25ch 1ch;
}

#designer-footer {
    text-align: center;
    color: var(--cjfw-purple);
    font-weight: bolder;
}

#designer-footer-logo {
    display: block;
    text-align: center;
}

#designer-footer-logo img {
    margin-bottom: 2ch;
}

@media only screen and (max-width: 360px) {

    #header-leftmost-logo {
        visibility: hidden;
        position: absolute;
        border: 2px green solid;

    }

    #header-left-logos {
        visibility: hidden;
        position: absolute;
        left: 20%;
        width: 100%;
        text-align: center;

    }

    #get-started-btn-bottom img {
        position: relative;
        max-width: 5ch;
        width: 60%;
        left: 2ch;
        top: 4ch;
    }

}

@media only screen and (max-width: 375px) {
    #get-started-btn-bottom img {
        position: relative;
        max-width: 5ch;
        width: 60%;
        left: 202ch;
        top: 4ch;
    }
}

@media only screen and (max-width: 525px) {

    .header {
        background-image: url("img/mini-header_white-2.png");
        height: 5ch;
        background-repeat: no-repeat;
    }

    #get-started-btn-bottom img {
        position: relative;
        max-width: 10ch;
        width: 60%;
        left: -3ch;
        top: 2.5ch;
    }

    #header-logos {
        width: 525px;
        visibility: hidden;
        display: flex;
        /* flex-direction: row; */
    }

    #header-left-logos {
        position: absolute;
        left: 50%;
        width: 100%;
        text-align: center;
        visibility: hidden;
    }

    #header-leftmost-logo {
        visibility: hidden;
        position: relative;
        border: 2px green solid;
        margin: 0 auto;

    }


}

@media only screen and (max-width: 640px) {
    #get-started-btn-bottom img {
        position: relative;
        max-width: 10ch;
        width: 60%;
        left: -2ch;
        top: 4ch;
    }

    #header-left-logos {
        width: 100%;
        text-align: center;
        visibility: hidden;
        /* padding-left: -11ch; */
        margin-left: 2ch;
        border: 1px blue solid
    }

    .header-leftmost-logo {
        position: relative;
        margin-left: 20ch;
    }

    #header-logos {
        visibility: hidden;
        /* display: flex;*/
        border: 1px red double;

        /* flex-direction: row; */
    }

}

@media only screen and (max-width: 768px) {
    #get-started-btn-bottom img {
        position: relative;
        max-width: 10ch;
        width: 60%;
        left: -2ch;
        top: 4ch;
    }


}

@media only screen and (max-width: 1024px) {
    #get-started-btn-bottom img {
        position: relative;
        max-width: 10ch;
        width: 60%;
        left: 2ch;
        top: 4ch;
    }

    .header {
        background-image: url("img/mini-header_white.png");
        height: 5ch;
        background-repeat: no-repeat;
    }
}

@media only screen and (max-width: 1285px) {



    #header-leftmost-logo {
        background-image: url("img/icon-hamburger_menu.png");
        margin-top: 7ch;
        margin-left: 15%;
    }

    /* #header-leftleast-logo { */
    /* margin-left: 0; */
    /* margin-right: 3ch; */
    /* }  */

    .header {

        background-image: url('/img/mini-header_white.png');
        height: 6ch;
        background-repeat: no-repeat;
        border-bottom: none;

        /* height: auto; */
        /* overflow: hidden; */
        /* background-image: url("img/cjfw_small-header..png"); */
        /* border-bottom: 2px var(--cjfw-yellow) solid; */
        /* position: fixed; */
        /* background-color: var(--blanc); */
        /* min-width: 100%; */
        /* z-index: 100;*/
    }


    #header-logos {
        visibility: hidden;
        /* display: flex;
    /* border: 2px red double; */
        /* flex-direction: row; */
    }

    #header-left-logos {
        width: 100%;
        text-align: center;
        visibility: hidden;
        /* padding-left: -11ch; */
        border: 1px blue solid
    }

    #header-leftmost-logo {
        visibility: hidden;
        position: absolute;
        top: -7.5ch;
        border: 2px green solid;
        margin-bottom: 2ch;

    }

    #header-leftleast-logo {
        visibility: hidden;
        /* margin-left: 3ch;
    margin-top: 3ch;
    border: 2px purple solid; */
    }


    #header-center-logo {
        visibility: hidden;
        /* padding-top: 2ch;
    margin-left: auto;
    margin-right: auto;
    border: 2px green solid; */
    }

    #header-right-buttons li a {
        visibility: hidden;
        /* font-family: 'Montserrat', sans-serif;
    float: right;
    font-size: 2ch;
    margin: 2ch 0 0 auto;
    min-width: 150px;
    line-height: 40px;
    list-style: none;
    text-align: center;
   border: 1px var(--clear) solid; */
    }

    #header-right-buttons a:hover {
        visibility: hidden;
        /* border: 1px var(--cjfw-purple) solid; */
        /* background-image: linear-gradient(to right, var(--cjfw-purple), var(--cjfw-purple));
    color: white;
    transition: all .1s ease-in-out; */
    }

    nav li {
        visibility: hidden;
        /* display: block;
    float: left;
    margin-right: 1ch;
    margin-top: 1.3ch; */
    }

    /* .bottom-nav {
    min-width: 100%;
    position: fixed;
    left: 0;
    top: 10ch;
} */

    #nav-buttons li a {
        visibility: hidden;
        /* font-family: 'Istok Web', sans-serif; */
        /* font-weight: bold; */
        /* float: left;
    font-size: 2ch;
    padding: 0ch;
    min-width: 150px;
    line-height: 40px;
    list-style: none;
    text-align: center;
    border: 1px var(--clear) solid; */
    }

    #contact-button {
        visibility: hidden;
        /* min-width: 1ch;
    margin-left: 5.5ch; */
    }

    /* #nav-buttons a {
    text-decoration: none;
} */

    /* #nav-buttons > ul:first-child:hover {
    border: 1px var(--clear) solid;
} */

    #nav-buttons a:hover {
        visibility: hidden;
        /* border: 1px var(--cjfw-purple) solid; */
        /* background-image: linear-gradient(to right, var(--cjfw-purple), var(--cjfw-purple));
    color: white;
    transition: all .1s ease-in-out; */
    }
}

.st-category-wrap {
    position: relative;
    display: inline-block;
    margin: 22% 0 10% 15%;
    max-width: 108ch;
}

.st-category-wrap p {
    margin: 1ch 1ch 3ch 0;
    line-height: 4ch;
    max-width: 101ch;
}

.st-category-container {
    display: inline-block;
    max-width: 21.88ch;
    min-height: 30ch;
    margin: 0 4ch 4ch 0;
}

.st-category-img,
.st-category-upper {
    min-width: 21.88ch;
}

.st-category-button {
    width: 19.5ch;
    height: 4ch;
    margin: 2ch 1ch;
    background-color: var(--clear);
    color: var(--cjfw-purple);
    border-color: var(--cjfw-purple);
    transition: ease-in-out .2s;
}

.st-category-button:hover {
    transition: ease-in-out .2s;
    color: var(--blanc);
    background-color: var(--cjfw-purple);
}

/* #nav-buttons input[type="text"]::placeholder  {
    text-align: center;
    color: var(--cjfw-purple);
    font-weight: bold;
    cursor: text;
}*/